<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/error.css') }}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Error</title>
</head>
<body>
    <div class="container">
        <img src="static/images/error.jpeg" alt="">
        <div class="button-container">
            <div class="button">
                <a href="{{ url_for('homepage') }}">Back</a>
            </div>
        </div>
    </div>
</body>
</html>